$color-rust-dark: #987;
$color-rust-bright: #fde9d5;
$color-blue-dark: #21349a;
$color-blue-bright: #a9c9f9;


$header-height: 25px;

$dark-bg: $color-rust-dark;
$dark-color: $color-rust-bright;
$dark-bg-alt: $color-blue-dark;
$dark-color-alt: $color-blue-bright;

:export {
	headerHeight: $header-height;
	darkBg: $dark-bg;
	darkColor: $dark-color;
}