@import '../vars.module.scss';

* {
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

html {
	background: $dark-bg;
	color: $dark-color;
}

h1 {
	font-size: 24px;
	letter-spacing: 10px;
	word-spacing: 4px;
}

h2 {
	//margin: -13px 0 0 0;
}

hr {
	background: $dark-color-alt;
}