@import '../vars.module.scss';

* {
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

html {
	background: $dark-bg;
	color: $dark-color;
}

body {
}

h1 {
	font-size: 24px;
	letter-spacing: 10px;
	word-spacing: 4px;
	text-align: center;
}

h2 {
	//margin: -13px 0 0 0;
}

hr {
	background: $dark-color-alt;
}

@media screen and (min-width: 600px) {
	h1 {
		font-size: 36px;
		letter-spacing: 15px;
		word-spacing: 5px;
	}
}