@import '../vars.module';
@import '@blueprintjs/core/lib/css/blueprint.css';

* {
	box-sizing: border-box;
}

html {
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-default);
	background: $page-bg;
	color: $color;
}

header {
	height: $header-height+px;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0 0 20px 0;
	background: linear-gradient(to right, $logo-bg, $page-bg);
	padding: 4px 20px 0 20px;
	cursor: pointer;
	z-index: 99;
}

main {
	position: relative;
	top: $header-height+px;
	height: 100%;
	overflow: auto;
	background: rgba(0,0,0,0);
	//background: #c5cbd3;
}

footer {
	position: fixed;
	height: $footer-height+px;
	bottom:0;
	right: 0;
	width: 100%;
	background: linear-gradient(to right, $page-bg, $color);
	z-index: 99;
	padding: 4px 20px 0 20px;
}

div {
}

h1 {

}

h2 {
}

hr {
}

pre {
}

code {
	font-family: var(--font-code);
}

.bp5-button {
	outline: 0;
}

.bp5-html-select select {
	outline: 0;
}

.bp5-ui-text {
}

.bp5-heading {
	color: $color;
}

.bp5-button-text {
	width: 100%;
}

.bp5-card {
	position: relative;
	background: $card-bg;
	font-weight: 500;
	overflow: hidden;
}

.bp5-section-header-title {
	font-size: 1.5rem;
	font-weight: 500;
}

.page {
	background: #c5cbd3;
	padding: 45px 40px 40px 40px;
}

.page-center {
	//background: #c5cbd3;
	max-width: 1580px;
	margin: 0 auto 0 auto;
	padding: 45px 40px 40px 40px;
}

.worktime-button {
	padding: 15px 15px 15px 15px;
}

.worktime-select {
	text-indent: 5px;
	//padding: 15px 15px 15px 15px;
}


// @media |@@@@|@@@@|@@@@|@@@@|@@@@|@@@@|

.main-menu-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 20px;
}

.news-columns {
	column-count: 4;
	column-gap: 20px;
}

@media screen and (max-width: 1100px) {
	.main-menu-container {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 950px) {
	.news-columns {
		column-count: 3;
	}
}

@media screen and (max-width: 800px) {
	.main-menu-container {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 800px) {
	.news-columns {
		column-count: 2;
	}
}

@media screen and (max-width: 500px) {
	.main-menu-container {
		grid-template-columns: 1fr;
	}
	.page {
		padding: 45px 5px 40px 5px;
	}
}

@media screen and (max-width: 500px) {
	.news-columns {
		column-count: 1;
	}

}