@import './vars.module.scss';
@import '../node_modules/@blueprintjs/core/lib/css/blueprint.css';

* {
	box-sizing: border-box;
}

html {
	background: $gray5;
	color: $color;
	font-family: var(--font-default);
}

body {
	margin: 0;
	padding: 0;
}

header {
	height: $header-height+px;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0 0 20px 0;
	background: linear-gradient(to right, $color, $page-bg);
	padding: 0 20px 0 20px;
	cursor: pointer;
}

main {
	height: 100%;
	max-width: 1080px;
	margin: 0 auto 0 auto;
	padding: 45px 20px 20px 20px;
	overflow: auto;
}

footer {
	height: $footer-height+px;
	background: linear-gradient(to right, $color, $page-bg);
}

div {
}

h1 {

}

h2 {
}

hr {
}

code {
	font-family: var(--font-code);
}

.bp5-ui-text {
}

.bp5-heading {
}

.bp5-card {
	background: #dee3ea;
	padding-top: 15px;
	font-weight: 500;
}

.main-menu-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 20px;
}

@media screen and (max-width: 1100px) {
	.main-menu-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 20px;
		row-gap: 20px;
	}

}

@media screen and (max-width: 800px) {
	.main-menu-container {
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 20px;
		row-gap: 20px;
	}

}