@import '../vars.module.scss';
@import '../node_modules/@blueprintjs/core/lib/css/blueprint.css';

* {
	box-sizing: border-box;
}

html {
	background: $gray5;
	color: $color;
}

body {
	margin: 0;
	padding: 0;
}

div {
}

h1 {

}

h2 {
}

hr {
}

.bp5-card {
	background: #dee3ea;
}

.bp5-heading {
	color: $color;
}

.main-menu-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 20px;
}

@media screen and (max-width: 1100px) {
	.main-menu-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 20px;
		row-gap: 20px;
	}

}

@media screen and (max-width: 800px) {
	.main-menu-container {
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 20px;
		row-gap: 20px;
	}

}