@import '@blueprintjs/core/lib/scss/variables';
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";

// blue
$page-bg: #c5cbd3;
$card-bg: #dee3ea;
$color: #1a2f44;

// brown
$page-bg: #d3cdc8;
$card-bg: #e7e3e1;
$color: #1c1411;

// brown dark
$page-bg: #404040;
$card-bg: #5d5d5d;
$color: #f3f9ff;

// blue dark
$page-bg: #334f6e;
$card-bg: #5678a4;
$color: #ebf5ff;
$cyan: #6cd9d9;
$magenta: #ffc7fc;
$yellow: #faffd3;

$coloredTitle: $yellow;
$coloredTitleBorder: #252c00;
$coloredBigMenuItemBorder: $magenta;
$coloredBigMenuItemIcons: $cyan;

$logo-bg: #191109;

$date-circle-color: $page-bg;
$date-circle-bg: $color;
$date-circle-border: $page-bg;
$date-circle-text-border: $page-bg;
$date-circle-north: $page-bg;
$date-circle-mark: #3981d4;

$header-height: 25;
$footer-height: 18;

:export {
	pageBg: $page-bg;
	cardBg: $card-bg;
	color: $color;
	yellow: $yellow;
	magenta: $magenta;
	cyan: $cyan;
	coloredTitle: $coloredTitle;
	coloredTitleBorder: $coloredTitleBorder;
	coloredBigMenuItemBorder: $coloredBigMenuItemBorder;
	goldTitle: $coloredTitle;
	logoBg: $logo-bg;
	dateCircleColor: $date-circle-color;
	dateCircleBg: $date-circle-bg;
	dateCircleBorder: $date-circle-border;
	dateCircleTextBorder: $date-circle-text-border;
	dateCircleNorth: $date-circle-north;
	dateCircleMark: $date-circle-mark;
	headerHeight: $header-height;
	footerHeight: $footer-height;
}