@import 'node_modules/@blueprintjs/core/lib/scss/variables';

$page-bg: #c5cbd3;
$card-bg: #dee3ea;
$cream: #eeeeee;
$color: #1a2f44;

$header-height: 25;
$footer-height: 25;

:export {
	pageBg: $page-bg;
	cardBg: $card-bg;
	cream: $cream;
	color: $color;
	headerHeight: $header-height;
	footerHeight: $footer-height;
}